.table-list {
    padding: 18px;
    .mat-header-row {
        background-color: #eee;
    }
    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }
    .mat-cell,
    .mat-header-cell {
        margin: 6px 12px;
        word-break: break-all;
        font-size: 14px;
    }
    .mat-header-cell {
        font-weight: bold;
    }
    table {
        width: 100%;
    }
    .mat-column-thumbnailUrl {
        text-align: center;
        height: 30px;
        width: 30px;
    }
}